body{
	padding-top: 80px;	
	background: url(../images/ufg_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}	
	
.col-lg-4 {
	text-align: center;
	color: black;
}

col-lg-12 {
	float: none;
	margin: auto;
	margin-bottom: 15px;
}

#features {
	margin-top: 25px;
	text-align: center;
}

footer {
	font-size: 11px;
	padding: 20px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

#titulo {
	font-family: "Cabin", Georgia, Times, serif;
	font-size: 70px;
	line-height: 100px;
	color: #BCCAEB;
}

#botao-store {
	margin-right: 20px;
}

#botao-google {
	margin-right: 20px;
}

#descricao {
	font-family: "Cabin", Georgia, Times, serif;
	color: white;
	font-size: 35px;
}

#destaques {
	color: #BCCAEB;
}

#dest-conteudo {
	color: white;
}